.search-container {
    display: flex;
    justify-content: flex-start;
    margin: 4px;
    gap: 4px;
}

.search-button {
    background-color: rgb(0, 110, 255);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px;
    font-size: small;
    font-weight: bold;
}

.search-input {
    border: 1px solid gray;
    border-radius: 4px;
    padding: 4px;
    width: 90%;
}