.border-gray {
    padding: 8px;
    margin: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: gray;
    border-radius: 8px;
    cursor: pointer;
}

.repository-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
}

.repository-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: x-small;
    width: 25%;
    height: 100%;
}